.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}

.register-link a {
  color: #f30b16;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  color: #f85059;
}
/* พื้นหลังรวม */
.login-container {
  height: 100vh;
  background-color: #f3f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* กล่องฟอร์ม */
.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(191, 193, 195, 0.3);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

/* หัวเรื่อง */
.login-form h2 {
  text-align: center;
  color: #f30b16;
}

/* input */
.login-form input {
  padding: 10px 12px;
  border: 1px solid #dbdee5;
  border-radius: 8px;
  background-color: #fd8e94;
  color: #333;
  outline: none;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #f85059;
  background-color: #f3f6f8;
}

/* ปุ่ม */
.login-form button {
  background-color: #f30b16;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #f85059;
}
